spring:
  data:
    mongodb:
      uri: ${MONGO_URI:mongodb://localhost:27017/focusflow}

server:
  port: ${PORT:8080}
  servlet:
    session:
      cookie:
        same-site: none
        secure: true


#이전 db 링크 변경